* {
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: Bonobo;
    font-weight: 700;
    color: rgb(101, 102, 99);
    font-size:20px;
    
}

@font-face {
    font-family: Bonobo;
    src: url("../../fonts/Bonobo Bold/Bonobo Bold.ttf") format('truetype');
}

html{
    background-color: rgb(218, 213, 203);
    overflow-y: auto;
    overflow-x: hidden;
}

.container {
    font-size: larger;
    height: 100%;
}
.wrapper {
    height: 100%;
}
.num_input {
    border-radius: 10px;
    height:40px;
    font-weight:700;
    font-size: 22px;
    background-color: rgb(218, 213, 203);
    border:0;
    color:rgb(101, 102, 99);
    padding-left:10px;
    padding-right:10px;
    width: 100%;
}

.content {
    display:flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
}

.content_box {
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgb(250,246,243);
    box-shadow: 1px 2px 5px rgb(24, 24, 24, 0.1), -1px 2px 5px rgb(24, 24, 24, 0.1);
}

.content_border {
    border-radius: 5px;
    border:solid;
    border-color: rgb(240, 236, 228);
    text-align: center;
}

.content_field {
    margin:4px;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    text-align: center;
}

.section_header {
    font-size: 30px;
    border-bottom: solid;
    border-color: rgb(240, 236, 228);
    padding-top: 10px;
    padding-bottom: 10px;
}

.desc {
    padding-bottom: 20px;
    font-size: 22px;
    margin-top:10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .content_field {
        padding-left: 10px;
        padding-right:10px;
    }

    .section_header {
        font-size: 25px;
    }
    
    .desc, .num_input {
        font-size: 20px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}