.home {
    
}

.home_wrapper {
    display:flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}
.sidebar {
    margin: 0 auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .sidebar {
        display:flex;
        flex-direction: column;
        position: fixed;
        left: 0;
        width:32vw;
        height: 100%;
    }
    .input_wrapper {
        height: 100%;
        overflow-y: auto;
    }

    .input_form {
        height: 100%;
        max-width: 28vw;
        padding-left:1.5vw;
    }

    .input_form .num_input {
        height:30px;
        font-size: 20px;
    }

    .input_form .content_field {
       padding:0; 
    }

    .input_form label {
        font-size: 20px;
    }

    .home {
        height: 100%;
    }

    .home_wrapper {
        height: 100%;
    }
    
    .home .content {
        display:flex;
        flex-direction: column;
        width: 67vw;
        margin-right:0;
        height: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .home .content .content_field {
        display:block;
        text-align: left;
        width:50vw;
    }

    .about .content {
        width: 50vw;
    }
}

/* 
@media only screen and (min-width: 1200px) {
    .sidebar {
        height: 100vh;
        width:32vw;
        position: fixed;
        padding-top:10px;
        left:0;
        overflow:auto;
    }

    .input_form {
        max-width: 28vw;
        padding-left:1.5vw;
    }

    .input_form .num_input {
        height:30px;
        font-size: 20px;
    }

    .input_form .content_field {
       padding:0; 
    }

    .input_form label {
        font-size: 20px;
    }
    
    .home .content {
        position: fixed;
        right:0;
        width: 67vw;
        height: 90vh;
        overflow: scroll;
    }

    .home .content .content_field {
        display:block;
        text-align: left;
        width:50vw;
    }

    .about .content {
        width: 50vw;
    }
} */