.input_form {
    padding-bottom:10px;
}

.input_wrapper {
    width:90vw;
}

.input_icon {
    width: 24px;
    padding-right:6px;
}

.input_title {
    display:flex;
    align-items: center;
}

.input_form .content_box {
    background-color: rgb(255, 254, 250);
}

.input_form #empty {
    display:none;
}

/*
.input_field_box {
    padding:4px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: rgb(255, 254, 250);
    box-shadow: 1px 2px 5px rgb(24, 24, 24, 0.1), -1px 2px 5px rgb(24, 24, 24, 0.1);
}

.input_border {
    border-radius: 6px;
    border:solid;
    border-color: rgb(240, 236, 228);
    
}

.input_field {
    width:auto;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    margin:5px;
}
*/
.input_form label {
    font-family: Bonobo;
    font-weight: 700;
    color: rgb(58, 67, 82);
    margin:4px;
    font-size: 25px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .input_wrapper {
        width:auto;
    }

    .input_form #empty {
        display:block;
        background-color: rgb(218, 213, 203);
        padding:40px;
        box-shadow: none !important;
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}